Tests: run
Depends: dbus-test-runner,
         evolution-data-server,
         gir1.2-edataserver-1.2,
         python3,
         python3-gi

#Tests: installed-tests
#Restrictions: needs-root, allow-stderr
#Depends: evolution-data-server-tests, locales-all, dbus-daemon (>= 1.8), xauth, xvfb, gnome-desktop-testing
